 /* Estilos básicos */
 body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    color: black;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #333;
}

nav ul li {
    position: relative; /* Necessário para o submenu */
    display: inline-block;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    display: block;
}

nav ul li a:hover {
    background-color: #555;
}

/* Estilo para o submenu */
nav ul ul {
    display: none; /* Esconde o submenu inicialmente */
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    padding: 0;
    margin: 0;
}

nav ul ul li {
    display: block;
}

nav ul ul li a {
    padding: 10px 20px;
}

/* Exibir o submenu ao passar o mouse */
nav ul li:hover > ul {
    display: block;
}
.container {
    width: 80%;
    margin: 0 auto;
}
header {
    background-color: rgba(24, 1, 1, 0.7);
    padding: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 2em;
    color: black;
    text-align: center;
}

.imagen {
    width: 100%;
    height: auto;
}

nav {
    text-align: center;
}

nav a {
    color:black;
    text-decoration: none;
    padding: 0 15px;
    font-size: 1.2em;
}

section {
    padding: 100px;
    margin: 50px 0;
}

#sobre {
    background-color: #555;
}

#expresso {
    background-color: #f1c40f;
}

#capuccino {
    background-color: #e67e22;
}
#cafe-com-leite {
    background-color: #16a085;
}
.section {
    padding: 50px 0;
    text-align: center;
    background-color: rgb(146, 131, 131);
}
.section h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color:black;
}
.menu-item {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}
.menu-item h3 {
    margin-top: 0;
    color: #333;
}
footer {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

footer p {
    margin: 0;
    font-size: 0.8em;
    color: #fff;
}